/*Navbar*/
.navbar {
  background: rgb(39, 39, 39);
  padding: 5px 20px;
  -webkit-box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.75);
  z-index: 3;
}
#nav-but {
  background-color: rgb(29, 29, 29);
  width: 100%;
  font-size: 15px;
  text-align: left;
  color: white;
  transition: background-color 0.5s;
}
#nav-but:hover {
  background-color: rgb(73, 73, 73);
}
@keyframes backsign {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.brand {
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid white;
  padding: 4px 10px;
  margin: auto;
  transition: background-color 0.5s, color 0.5s;
}
.brand:hover .image-back {
  display: block;
}
.brand:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}
.image-back {
  height: 20px;
  width: 20px;
  margin-right: 2px;
  display: none;
  animation: backsign 0.5s ease-out;
}

/*Body*/
.jumbotron-fluid {
  padding: 100px 0px 0px 0px;
}
body {
  background-image: url("./images/carousel/0.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.text-container {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px;
  max-width: 900px;
  height: fit-content;
  background-color: rgb(233, 233, 233);
  color: rgb(35, 34, 65);
}
#title-box {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(35, 34, 65);
  color: rgb(255, 255, 255);
  -webkit-box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.75);
}
#sub-title-box {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  background-color: rgb(233, 233, 233);
  color: rgb(39, 39, 39);
  -webkit-box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.75);
}
#sub-title-box p {
  font-size: 15px;
  margin: 0px;
}
#image-box {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}
#image-box img {
  max-height: 300px;
  max-width: 300px;
}
.social-button {
  display: inline;
}
.social-button a img {
  height: 35px;
  width: 35px;
}
.text-heading {
  color: #4b4a8b;
  border-bottom: 2px solid #2e2d5a;
}
.image {
  border: 5px solid rgb(27, 27, 27);
  border-radius: 10px;
  margin-bottom: 20px;
  display: block;
  max-height: 300px;
  object-fit: cover;
}
.box-cont {
  height: fit-content;
  position: relative;
  padding: 10px;
  background-color: rgb(35, 34, 65);
  color: white;
  border-radius: 10px;
  margin: 0px -20px 0px -20px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.box-cont .card {
  background-color: #f8d6fc;
  color: #765a79;
  border-radius: 30px;
  max-width: 250px;
  height: 100%;
  margin: auto;
}
.box-cont .col-lg-3 {
  margin-bottom: 10px;
}
.skill-cont .btn {
  border-radius: 20px;
  margin: none;
  width: 100%;
}
.skill-cont .btn:hover {
  border: 5px solid white;
  transition: ease-out 0.2s;
}
.skill-cont {
  height: fit-content;
  max-width: 230px;
  border-radius: 20px;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
}
.prog {
  background-color: #539470;
  background-image: linear-gradient(45deg, #60ac82 0%, #cac767 100%);
  color: white;
}
.prog .btn {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  transition: ease-out 0.2s;
}
.aal {
  background-color: #bb8160;
  background-image: linear-gradient(62deg, #bb8160 0%, #bb9d51 100%);
  color: white;
}
.aal .btn {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  transition: ease-out 0.2s;
}
.prac {
  background-color: #73a0be;
  background-image: linear-gradient(135deg, #73a0be 0%, #7477b1 100%);
  color: white;
}
.prac .btn {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  transition: ease-out 0.2s;
}
.eng {
  background-color: #b49fa6;
  background-image: linear-gradient(45deg, #b4788c 0%, #59aca9 100%);
  color: white;
}
.eng .btn {
  background-color: #ffa7c4;
  background-image: linear-gradient(45deg, #ffa7c4 0%, #83fffb 100%);
  transition: ease-out 0.2s;
}
.mng {
  background: #a83048; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a83048, #bbae8b); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a83048, #c4b691);
  color:white;
}
.mng .btn {
  background: #ed4264; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ed4264, #ffedbc); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ed4264, #ffedbc);
  transition: ease-out 0.2s;
}
.per {
  background: #3d25b6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4632a5, #3b85a5, #71ac8b); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4632a5, #3b85a5, #71ac8b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:white;
}
.per .btn {
  background: #5433ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6c4ffd, #5cceff, #a5fecb); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6c4ffd, #5cceff, #a5fecb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.skill-cont .collapse {
  margin: none;
  padding: 10px;
  transition: ease-out 0.2s;
}
@media screen and (max-width: 767) {
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px !important;
  }
  .text-heading h2 {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px !important;
  }
  .text-heading h2 {
    font-size: 30px;
  }
  .special {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  h1 {
    font-family: "Source Sans", sans-serif !important;
    font-size: 45px !important;
  }
  .text-heading h2 {
    font-size: 35px;
  }
  .special {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-family: "Source Sans", sans-serif !important;
    font-size: 60px !important;
  }
  .text-heading h2 {
    font-size: 40px;
  }
  .special {
    margin-top: 60px;
  }
}
.card-columns {
  column-count: 4;
}
