.navbar {
  background: rgb(39, 39, 39);
  padding: 5px 20px;
  -webkit-box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.75);
  z-index: 4  !important;
}
#nav-but {
  background-color: rgb(29, 29, 29);
  width: 100%;
  font-size: 15px;
  text-align: left;
  color: white;
  transition: background-color 0.5s;
}
#nav-but:hover {
  background-color: rgb(73, 73, 73);
}
.image-back {
  height: 20px;
  width: 20px;
  margin-right: 2px;
  display: none;
  animation: backsign 0.5s ease-out;
}
@keyframes backsign {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.brand {
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid white;
  padding: 4px 10px;
  margin: auto;
  transition: background-color 0.5s, color 0.5s;
}
.brand:hover .image-back {
  display: block;
}
.brand:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}
.jumbotron-fluid {
  padding: 100px 0px 0px 0px;
  margin-bottom: 15px;
}
body {
  background-image: url("./images/carousel/4.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.text-container {
  border-radius: 10px;
  padding: 20px 20px 0px 20px;
  max-width: 800px;
  height: fit-content;
  background-color: rgb(233, 233, 233);
}
#title-box {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(27, 27, 27);
  color: rgb(255, 255, 255);
  -webkit-box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.75);
}
#sub-title-box {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  background-color: rgb(233, 233, 233);
  color: rgb(39, 39, 39);
  -webkit-box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.75);
}
#image-box {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}
.social-button {
  display: inline;
}
.social-button a img {
  height: 35px;
  width: 35px;
}
.intro:first-letter {
  float: left;
  font-size: 45px;
  line-height: 1;
  font-weight: bold;
  margin-right: 9px;
}
.slides-container {
  position: relative;
  width: 100%;
  padding-top: 60%;
  overflow: hidden;
  margin-bottom: 20px;
}

.slides-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.text-heading {
  color: rgb(27, 27, 27);
  border-bottom: 2px solid rgb(27, 27, 27);
}
.image {
  border: 5px solid #2e2d5a;
  border-radius: 10px;
  margin: 10px;
  display: block;
  max-height: 300px;
  object-fit: cover;
}
.box-cont {
  height: fit-content;
  position: relative;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin: 0px -20px 0px -20px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.box-cont .card {
  background-color: #e1c6ff;
  color: #50475a;
  border-radius: 30px;
  max-width: 250px;
  height: 100%;
  margin: auto;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 1);
}
.card-cont {
  margin: 10px auto;
}
.card-title {
  font-size: 15px;
  margin-bottom: 0px;
}
.end {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 27%,
    rgba(229, 189, 188, 1) 100%
  );
  background: -webkit-linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 27%,
    rgba(229, 189, 188, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 27%,
    rgb(229, 189, 188) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffe0df",GradientType=1);
  color: #b1615c;
}
.google-slides-container{
  position: relative;
  width: 100%;
  padding-top: 60%;
  overflow: hidden;
  border-radius: 10px;
}

.google-slides-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767) {
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px !important;
  }
  .text-heading h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px !important;
  }

  .special {
    margin-top: 50px;
  }
}
@media screen and (max-width: 767) {
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px !important;
  }
  .text-heading h2 {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px !important;
  }
  .text-heading h2 {
    font-size: 30px;
  }
  .special {
    margin-top: 60px;
  }
  .left {
    margin-right: 5px;
  }
  .right {
    margin-left: 5px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  h1 {
    font-family: "Source Sans", sans-serif !important;
    font-size: 45px !important;
  }
  .text-heading h2 {
    font-size: 35px;
  }
  .special {
    margin-top: 60px;
  }
  .left {
    margin-right: 5px;
  }
  .right {
    margin-left: 5px;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-family: "Source Sans", sans-serif !important;
    font-size: 60px !important;
  }
  .text-heading h2 {
    font-size: 40px;
  }
  .special {
    margin-top: 60px;
  }
  .left {
    margin-right: 5px;
  }
  .right {
    margin-left: 5px;
  }
}
