/*Navbar*/
.navbar {
  background: rgb(0, 0, 6);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 6, 0.8578781854538691) 0%,
    rgba(0, 0, 0, 0.5329482134650736) 46%,
    rgba(2, 0, 36, 0) 100%
  );
}

#nav-but {
  background-color: rgb(29, 29, 29);
  color: white;
  transition: background-color 0.5s;
}
#nav-but:hover {
  background-color: rgb(73, 73, 73);
}
.brand {
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid white;
  padding: 4px 10px;
  transition: background-color 0.5s, color 0.5s;
}
.brand:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}

/*Carousel*/
.carousel-inner {
  background-size: cover;
  background-position: center;
}
#carousel-1 {
  background-image: url(/images/carousel/0.webp);
  color: white;
  background-position: center;
  background-size: cover;
}
#carousel-1 a {
  background-color: rgb(48, 43, 99);
  border-color: rgb(26, 24, 54);
}
#carousel-2 {
  background-image: url(/images/carousel/2.webp);
  color: white;
  background-position: bottom;
  background-size: cover;
}
#carousel-2 a {
  background-color: rgb(43, 72, 99);
  border-color: rgb(24, 34, 54);
}
#carousel-3 {
  background-image: url(/images/carousel/4.webp);
  color: white;
  background-position: bottom;
  background-size: cover;
}
#carousel-3 a {
  background-color: rgb(27, 27, 27);
  border-color: rgb(99, 99, 99);
}
#carousel-4 {
  background-image: url(/images/carousel/1.webp);
  color:rgb(80, 22, 22);
  background-position: bottom;
  background-size: cover;
}
#carousel-4 a {
  background-color: rgb(80, 22, 22);
  border-color: rgb(138, 37, 37);
}
#carousel-5 {
  background-image: url(/images/carousel/5.webp);
  color:white;
  background-position: bottom;
  background-size: cover;
}
#carousel-5 a {
  background-color: rgb(0, 60, 68);
  border-color: rgb(0, 128, 128);
}

/*Carousel Cont*/
.graphic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 25px !important;
  }
  p {
    font-size: 14px !important;
  }
  .thermal-text {
    color: rgb(6, 0, 65);
  }
  .graphic {
    max-height: 225px;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px !important;
  }
  p {
    font-size: 15px !important;
    padding-top: 20px;
  }
  .graphic {
    max-height: 300px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  h1 {
    font-family: "Source Sans", sans-serif !important;
    font-size: 45px !important;
  }
  p {
    font-size: 16px !important;
    padding-top: 20px;
  }
  .graphic {
    max-height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-family: "Source Sans", sans-serif !important;
    font-size: 60px !important;
  }
  p {
    font-size: 18px !important;
    padding-top: 20px;
  }
  .graphic {
    max-height: 500px;
  }
}
