.navbar {
  background: rgb(0, 0, 6);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 6, 0.8578781854538691) 0%,
    rgba(0, 0, 0, 0.5329482134650736) 46%,
    rgba(2, 0, 36, 0) 100%
  );
}
.carousel-inner {
  background-size: cover;
  background-position: center;
}
.graphic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#nav-but {
  background-color: rgb(29, 29, 29);
  color: white;
  transition: background-color 0.5s;
}
#nav-but:hover {
  background-color: rgb(73, 73, 73);
}
.brand {
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid white;
  padding: 4px 10px;
  transition: background-color 0.5s, color 0.5s;
}
.brand:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}
@media screen and (max-width: 767px) {
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 25px !important;
  }
  p {
    font-size: 14px !important;
  }
  .thermal-text {
    color: rgb(6, 0, 65);
  }
  .graphic {
    max-height: 225px;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px !important;
  }
  p {
    font-size: 15px !important;
    padding-top: 20px;
  }
  .graphic {
    max-height: 300px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  h1 {
    font-family: "Source Sans", sans-serif !important;
    font-size: 45px !important;
  }
  p {
    font-size: 16px !important;
    padding-top: 20px;
  }
  .graphic {
    max-height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-family: "Source Sans", sans-serif !important;
    font-size: 60px !important;
  }
  p {
    font-size: 18px !important;
    padding-top: 20px;
  }
  .graphic {
    max-height: 500px;
  }
}
